/*O primeiro está classificado como BODY por isso é aplicado na página toda, mas pode ser especifico
em classes como "p" e "a" ou "h1" como está abaixo.*/

body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
}

#hero {
    width: 592px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 72px;
    margin-left: auto;

    /*Caso queira escrever em uma só linha irá funcionar de forma horária: top,right,bottom and left.
   EX: " margin: 0 auto 72px auto;"
    */
}

#hero img {
    margin-bottom: 72px;
}

h1{
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    margin-bottom: 32px;
}

h1 span {
    font-weight: bold;
}

span, a{
    color: #FF9900;
}

p, #footer {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

#footer a + a {
    margin-left: 28px;
}

/*
"#" são utilizadas para "ID"
"." são utilizados para "Class"
*/
#line {
    width: 568px;
    height: 0px;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

#balls{
    position: fixed;
    bottom: 0px;
    right: 0px;
}